@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

[x-cloak] {
    display: none;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('montserrat/Montserrat-Regular.ttf') format('truetype');
}
.customize-table {
    border-radius: 7px;
    --easy-table-header-font-size: 13px;
    --easy-table-body-row-font-color: #424242;
    --easy-table-body-row-font-size: 13px;
}